<html>
    <head>
        
        <!--una vez terminado borrar
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        -->


        <link rel="stylesheet" href="/Styles/Style_informe/Estilo_informe.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <title>Informe</title>
    </head>
    <body>
        <div class="informe">
            <div class="icono">
                <i id="icono-status" class="fa-solid fa-circle-check"></i>
            </div>
            <h1 id="titulo_informe"></h1>
            <h4 id="texto_informe"></h4>
            <a id="boton_info"></a>
            <a id="boton_sec" style="display: none;" href="../Templates_recuperar_contrasenia/recuperar_contra.html">Recuperar Contraseña</a>
        </div>
        <script src="/Scripts/Script_informe/script_informe.js"></script>
    </body>
</html>
