<!DOCTYPE html>
<html lang="es">
<head>

    <!--una vez terminado borrar
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
-->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../../Styles/Styles_inicio_sesion_registro/Estilos_inicio_sesion.css">
</head>
<body>
    <div class="card">
        <h1>Bienvenido de nuevo</h1>
        <form id="inicioform">
            <label for="telef">Numero de Telefono</label>
            <input id="telef" type="number" name="telef" 
                placeholder="Tu Numero de Telefono sin +" 
                pattern="^54\d{13}$"
                required>

            <label for="contrasenia">Contraseña</label>
            <input id="contrasenia" type="password" placeholder="Tu contraseña" required>

            <button type="submit">Iniciar Sesión</button>
        </form>

        <p><a href="recuperar_contra.html">¿Olvidaste tu contraseña?</a></p>
        <p>¿No tienes cuenta? <a href="Registrarse.html">Regístrate aquí</a></p>
        <div id="mensaje"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script type="module" src="../../Scripts/Scripts_inicio_sesion_registro/script_iniciosecion.js"></script>
</body>
</html>
