<!DOCTYPE html>
<html lang="es">
<head>

  <!--una vez terminado borrar
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
 -->


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/Styles/Styles_inicio_sesion_registro/Estilos_registro.css">
</head>
<body>
  <div class="card">
    <h1>Registro de Clientes</h1>

    <form id="registroForm">
      <label for="nombre">Nombre completo</label>
      <input id="nombre" type="text" placeholder="Tu nombre" required>

      <label for="telef">Numero de Telefono</label>
      <input id="telef" type="number" name="telef" placeholder="264XXXXXXX"
       pattern="^\d{11}$" required>

      <label for="contraseña">Contraseña</label>
      <div class="contendedor_cont">
        <input id="contraseña" type="password" placeholder="Crea una contraseña" required>
        <button class="botonalternar" type="button" id="togglePassword" style="width: 50px; height: 50px;">👁️</button>
      </div>

      <p class="reglas">
        La contraseña debe tener al menos 4 caracteres e incluir un número.
      </p>
      
      <input type="submit" value="Registrar">
    </form>

  <p>¿Ya tienes cuenta? <a href="iniciosesion.html">Inicia sesión aquí</a></p>
  </div>
  <script src="/Scripts/sweetalert_helper.js"></script>
  <script type="module" src="/Scripts/Scripts_inicio_sesion_registro/script_registro_inicial.js"></script>

    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordField = document.getElementById('contraseña');
    
        togglePassword.addEventListener('click', function () {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            this.textContent = type === 'password' ? '👁️' : '🙈';
        });
    </script>

</body>
</html>
