<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form_actualizar">
        <label for="nueva_contra">Nueva Contraseña</label>
        <input id="nueva_contra" type="password" placeholder="Crea una nueva contraseña" required>
        <!--aca poner un campito para repetir la contraseña despues-->
      <input type="submit" value="Actualizar Contraseña">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script type="module" src="../Scripts/script_actualizar_contra.js"></script>
</body>
</html>