<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <form action="">
        <label for="correo"> Correo Electronico:</label>
        <input id="correo" type="email" name="correo" 
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
        <label for="contraseña"> ingrese la contraseña:</label>
        <input id="contraseña" type="password" required>
    </form>
    
</body>
</html>