<!DOCTYPE html>
<html lang="es">
<head>

    <!--una vez terminado borrar
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
-->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../Styles/Estilos_recuperar_contra.css">
</head>
<body>
    <div class="card">
        <!-- Icono arriba -->
         <div class="logo">📥</div>

        <h1>Recuperar Contraseña</h1>
        <p class="slogan">Ingresa tu correo y recibirás un enlace para restablecer tu contraseña.</p>

        <form id="recuperarForm">
            <label for="telef">Numero de Telefono</label>
            <input id="telef" type="number" name="telef" 
                placeholder="Tu Numero de Telefono sin +" 
                pattern="^54\d{13}$" 
                required>
            <button type="submit" id="submitBtn">Enviar enlace</button> <br>
        </form>

        <p class="privacy">Tu numero de telefono será usado solo para recuperar tu contraseña.</p> <br>
        <p><a href="iniciosesion.html">Volver al inicio de sesión</a></p>

        <div id="mensaje" class="mensaje"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script type="module" src="../Scripts/script_recuperar_contrasena.js"></script>
</body>
</html>
